extends /layouts/index.pug

block title
  h5.my-0.mr-md-auto.font-weight-normal(href=urlFor('root')) Task manager

block content
  .pricing-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
    h1.display-4 Welcome to Task manager
    p.lead Simple task manager
