extends /layouts/index.pug

block title
  aюр5.my-0.mr-md-auto.font-weight-normal(href=urlFor('root')) Task manager

block content
  table.table.table-striped
    thead
      tr
        th Full Name
        th Email
        th Created At
    tbody
      each user in users
        tr
          td= user.fullName
          td= user.email
          td= user.createdAt
