extends /layouts/index.pug

block title
  a.h5.my-0.mr-md-auto.font-weight-normal(href=urlFor('root')) Task manager

block content
  h5 Sign Up form
  +formFor(f, { url: urlFor('users'), method: 'post' })
    +input(f, 'email')
    +input(f, 'firstName')
    +input(f, 'lastName')
    +input(f, 'password', { as: 'password' })
    +button(f)
